.about-container {
  max-width: 700px;
  margin: auto;
  padding: 0 20px;
  text-align: left;
  line-height: 1.7;
  font-size: 16px;
}

.about-container p {
  text-indent: 2em;
}

.about-image {
  display: block;
  margin: 0 auto 30px auto;
  width: 260px;
  height: 260px;
  object-fit: cover;
}
